h1 {
font-size: 80px;
color: aliceblue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center; 
background-image: url(Restaurant.jpg) ;


height: 400px;
margin: 40px;
}
h2{background-color: red}
h3{background-color: red}