body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 80px;
    color: rgb(255, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-image: url(Restaurant.jpg);
    padding: 100px;
    height: 100px;
    margin: 40px;
    border-style: double;
    border-width: 20px;
    border-color: rgb(255, 255, 255);
}

h2 {
    background-color: rgb(255, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 {
    background-color: red;
    text-align: center;
    color: rgb(255, 255, 255);
}






.ikonka {
    height: 90px;
}


.ikona {
    height: 90px;
}

td,
th {
    border: 1px solid rgb(255, 0, 0);
}

.ikona {
    height: 90px;

}

aside {
    float: left;
}

nav {
    border: 1px solid rgb(255, 0, 0);
    padding: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

.menuwrapper {
    display: flex;
    justify-content: space-between;

}


.dezertywrapper {
    display: flex;
    justify-content: space-between;

}

.onaswrapper {
    display: flex;
    /*   justify-content: space-between;
    /*   justify-content: space-between;
   flex-direction: row-reverse;*/
}

.imgswrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-direction: row-reverse;

}

.prilohywrapper {
    display: flex;
    justify-content: space-between;

}

.alkoholickewrapper {
    display: flex;
    justify-content: space-between;

}

.nealkoholickewrapper {
    display: flex;
    justify-content: space-between;

}

.polevkywrapper {
    display: flex;
    justify-content: space-between;

}

.border img {
    border: 2px solid red;
    margin: 15px;
}